.dances-container {
    .queue {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
  
      .week {
        cursor: pointer;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
  
        &.active {
          background-color: #007bff;
          color: #fff;
        }
      }
    }
  
    .dance-dropdown {
      margin-bottom: 20px;
  
      h3 {
        margin-bottom: 10px;
      }
  
      .form-select {
        width: 100%;
        margin-bottom: 10px;
      }
  
      .dance-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
  
        .dance-card {
          background-color: #f8f9fa;
          border: 1px solid #dee2e6;
          border-radius: 5px;
          padding: 10px;
  
          h4 {
            margin-bottom: 5px;
            font-size: 1.25rem;
            font-weight: bold;
          }
  
          p {
            font-size: 1rem;
            color: #666;
          }
        }
      }
    }
}
  