.episode-template {
    padding: 20px;
    background-color: #E6E9F9; // Icy Lilac

    .episode-theme {
        font-size: 2rem;
        font-weight: bold;
        color: #4B0082; // Indigo
        margin-bottom: 10px;
    }

    .episode-date {
        font-size: 1rem;
        color: #56365C; // Lilac Shadow
        margin-bottom: 20px;
    }

    .winner-team,
    .losing-team {
        margin-bottom: 20px;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #9955BB; // Deep Lilac
            margin-bottom: 10px;
        }

        .team-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #DCD0FF; // Pale Lilac
            border: 1px solid #D3CACD; // Dusty Lilac
            padding: 10px;
            border-radius: 5px;
            text-align: center;

            img {
                width: 100%;
                height: auto;
                max-width: 200px;
                margin-bottom: 10px;
                border-radius: 5px;
            }

            p {
                font-size: 1rem;
                color: #4B0082; // Indigo
                margin: 5px 0;
            }
        }
    }
}