.home-container {
  background-color: #E6E9F9; // Icy Lilac
  padding: 20px;

  .home-header {
    font-size: 2rem;
    color: #4B0082; // Indigo
    margin-bottom: 20px;
  }

  .row {
    margin-bottom: 20px;

    .col {
      background-color: #C8A2C8; // Lilac
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #D3CACD; // Dusty Lilac

      h3 {
        color: #4B0082; // Indigo
      }

      p {
        color: #56365C; // Lilac Shadow
      }
    }
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    background-color: #4B0082; // Indigo
    padding: 10px;
    border-radius: 5px;
    
    .menu-item {
      color: #E6E9F9; // Icy Lilac
      font-size: 1rem;
      margin: 0 10px;
    }
  }
}