.registration-container {
    background-color: #E6E9F9; // Icy Lilac
    padding: 20px;
  
    .registration-header {
      font-size: 2rem;
      color: #4B0082; // Indigo
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        font-size: 1rem;
        color: #56365C; // Lilac Shadow
      }
  
      input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #D3CACD; // Dusty Lilac
      }
    }
  
    .register-btn {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      background-color: #4B0082; // Indigo
      color: #E6E9F9; // Icy Lilac
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #3A006A; // Darker Indigo
      }
    }
}  