.teams-container {
  background-color: #E6E9F9; // Icy Lilac
  padding: 20px;

  .teams-header {
    font-size: 2rem;
    color: #4B0082; // Indigo
    margin-bottom: 20px;
  }

  .team-dropdown {
    margin-bottom: 20px;

    select {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #D3CACD; // Dusty Lilac
      border-radius: 5px;
    }
  }

  .team-details {
    background-color: #C8A2C8; // Lilac
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #D3CACD; // Dusty Lilac
    text-align: center;

    .team-img-container {
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      :hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }

    img {
      width: 60%;
      border-radius: 5px;
    }

    h3 {
      color: #4B0082; // Indigo
      margin-bottom: 10px;
    }

    p {
      color: #56365C; // Lilac Shadow
      margin-bottom: 5px;
      padding-top: 1rem;
    }

    .favorite-button {
      background: none;
      border: none;
      color: #4B0082; // Indigo
      cursor: pointer;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      margin-top: 10px;

      &:hover {
        color: #6B0082; // Darker Indigo
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}