.teams-container {
  background-color: #E6E9F9; // Icy Lilac
  padding: 20px;

  .teams-header {
    font-size: 2rem;
    color: #4B0082; // Indigo
    margin-bottom: 20px;
  }

  .team-dropdown {
    margin-bottom: 20px;

    select {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #D3CACD; // Dusty Lilac
      border-radius: 5px;
    }
  }

  .team-details {
    background-color: #C8A2C8; // Lilac
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #D3CACD; // Dusty Lilac

    h3 {
      color: #4B0082; // Indigo
      margin-bottom: 10px;
    }

    p {
      color: #56365C; // Lilac Shadow
      margin-bottom: 5px;
    }
  }
}